<div class="footer">
    <p class="p-footer">Fan-site not affiliated with ©NGELGAMES</p>
    <p class="p-footer"> Check the <a href="/about"> About </a> page </p>
    <p class="p-footer">
        Feel free to contact me about any possible features! <br>
        Contact: tsangington@gmail.com
    </p>
</div>