<header>
    <div class="navbar">
        <h2><a href="/" class="logo"> TOG:GJ Summon Statistics </a></h2>
        <nav>
            <ul class="navbar-links">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/giveUrl">Summon Statistics</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</header>