<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title: 'TOG:GJ-SS | About' }) %>
</head>

<body>
    <header>
        <%- include('includes/header'); %>
    </header>
    <div class="content-container">
        <div class="padding-content"></div>
        <div class="content">
            <h3> The website </h3>
            <p>   
                This website was made solo by a random fan of the game, Tower Of God: Great Journey. It is designed to take the summon history URL and scrapes
                the data and prints it in a statistics which is easier for people to read. There may still be problems with the scraping/ analysing the data,
                so feel free to contact me using the email (Tsangington@gmail.com) if you have suggestions or you found a potential bug.
            </p>    
            <p>
            </p>
            <a class="social-links" href="https://discord.gg/lunahub">Lunahub Discord</a>
            <a class="social-links" href="https://discord.com/invite/vXxTRN3PBZ">Unofficial/Wingtree Discord</a>

            <a class="social-links" href="https://forum.ngelgames.com">Official NGEL forum</a>
            
        </div>
        <div class="padding-content"></div>
    </div>
    <footer>
        <%- include('includes/footer'); %>
    </footer>
</body>
</html>