<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', {title: 'TOGGJ:GJ | Summon Statistics | Enter URL'}) %>



<body>
    Welcome to TOG:GJ Summon Statistics!
    <form action="/summonstatistics/" method="GET">
        <input type="text" name="url" />
        <button>Get Your Summon Statistics!</button>
    <script>

    </script>
</body>
</html>   