<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title: 'TOG:GJ-SS | Enter URL' }) %>
    <script>
        function validate() {
            var input = document.querySelector('input[name="url"]');
            var inputValue = input.value.trim(); // Remove leading/trailing white spaces
            
            if (inputValue === '' || inputValue.length > 60) {
                alert('Please enter a valid summon history URL');
                return false; // Prevent form submission
            }
            
            // Continue with form submission if validation passes
            return true;
        }
    </script>
</head>

<body>
    <header>
        <%- include('includes/header'); %>
    </header>
    <div class="content-container">
        <div class="padding-content"></div>
            <div class="content">
                <h2> Welcome to TOG:GJ Summon Statistics! </h2>
                <h3> Enter your summon history URL below: </h3>
                <form action="/summonstatistics/" method="GET" onsubmit="return validate()">
                    <div class="input-form">
                        <div class="input-field">
                            <input type="text" name="url" />
                        </div>
                        <div class="button-container">
                            <button class="button-get-results">
                                Get Your Summon Statistics
                            </button>
                        </div>
                    </div>
                </form>
                <div class="donation-div">
                    Hate waiting for the website to load up? Donate today to pay for a dedicated server! Any donations would be appreciated :) 
                    <br>
                    <br>
                    <form class="donation-form" action="https://www.paypal.com/donate" method="post" target="_top">
                        <input type="hidden" name="hosted_button_id" value="SKX58UR8466JY" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                </div>
                <h2> How to use:</h2>
                <p>Go to the in-game summon page, and click on the summon history, as shown below:</p>
                <img src="/images/getSummonURL.png" alt="Click on summon history on the in-game summon page." style="width:800px;height:450px;">
                <p>
                    It should load a page which looks like this. Copy the URL and paste into the textbox,
                    and click the button.
                </p>
                <img src="/images/copySummonsURL.png" alt="Copy the resulting URL into the textbox here." style="width:800px;height:450px;">

            </div>
        <div class="padding-content"></div>
    </div>
    <footer>
        <%- include('includes/footer'); %>
    </footer>
</body>
</html>   