<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title: 'TOG:GJ-SS | Enter URL' }) %>
</head>

<body>
    <header>
        <%- include('includes/header'); %>
    </header>
    <div class="content-container">
        <div class="padding-content"></div>
            <div class="content">
                <h3> Welcome to TOG:GJ Summon Statistics! </h3>
                <form action="/summonstatistics/" method="GET">
                    <input type="text" name="url" />
                    <button>Get Your Summon Statistics!</button>
                    <footer>
                        <%- include('includes/footer'); %>
                    </footer>
                </form>    
            </div>
        <div class="padding-content"></div>
    </div>

</body>
</html>   