<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', {title: 'TOGGJ:GJ | Summon Statistics | Home' }) %>

<body>
    Welcome to TOG:GJ Summon Statistics!
    <form>

    </form>
    <script>

    </script>
</body>
</html>