<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title: 'TOG:GJ-SS | Home' }) %>
</head>

<body>
    <header>
        <%- include('includes/header'); %>
    </header>
    <div class="content-container">
        <div class="padding-content"></div>
        <div class="content">
            <h3> Welcome to TOG:GJ Summon Statistics! </h3>
            <p> 
                This site is made to show you your summon statistics, such as average legendary pity,
                and how many 50/50s you've won. 
            </p>
            <p> 
                This does use a webscraper, which make take longer depending on the amount of pulls
                you've done. *15k summons takes about 30 seconds.*
            </p>
            <p> 
                This might take longer if there are multiple people using the site at the same time. 
            </p>
            <br>
            <form action="/giveurl" method="GET">
                <div class="button-container">
                    <button class="button-get-started">Get Started</button>
                </div>
            </form>
        </div>
        <div class="padding-content"></div>
    </div>
    <footer>
        <%- include('includes/footer'); %>
    </footer>
</body>
</html>