@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Grey #383838 */ 
/* Light Grey #e3e3e3 */ 
/* Light Blue #00eeff */

/* Light Pink #fa2686 */
/*debug = outline: 1px solid red; */
*{
    outline: 0px solid green;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #212529;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #212529;
    color: #FF2834;
}

/* Navbar styling */
.navbar{
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-bottom: 2px inset #111;
}
.logo{
    font-size: 30px;
    color: #FF2834;
}
.logo:hover{
    color: #e8e8e8;
    text-decoration: underline;
    text-decoration-color: #e8e8e8;
}
li, a{
    background-color: #212529;
    font-weight: 500;
    font-size: 24px;
    color: #e8e8e8;
    text-decoration: none;
}
.navbar-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    list-style: none;
}
.navbar-links li {
    display: inline-block;
    padding: 0px 15px;
}
.navbar-links li a{
    transition: all 0.3s ease 0s;
}
.navbar-links li a:hover{
    color: #FF2834;
    border-bottom: 1px solid #FF2834;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FF2834;
}
@media(max-width:800px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-links{
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #212529;
        color: transparent;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .navbar-links.active{
        left: 0;
    }
    .navbar-item{
        margin: 16px 0;
        color: transparent;
    }
}

/* table styling */
table, tr, th, td {
    border: 1px solid #e3e3e3;
    border-collapse: collapse;
}
th, tr, td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-table-header, .main-summons-table, p.main-summons-footer {
    color: rgb(255, 241, 190)
}

.ancient-summons-header, .ancient-summons-table {
    color: rgb(255, 123, 59);
}
 
.red-summons-footer {
    color:#FF2834;
    padding-bottom: 30px;
}

/* Form Styling */
div.input-field {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
div.body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #353842;
}
.input-field {
    position: relative;
}
.input-field input {
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
}
.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 19px;
    pointer-events: none;
    transition: 0.3s;
}
input:focus {
    border: 2px solid #FF2834;
}
input:focus ~ label,
input:valid ~ label {
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background: #353842;
}
.button-get-started, .button-get-results {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #fff;
    background-color: #ff2834;
    padding: 10px 30px;
    border: solid #ff2834 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 50px;
    transition : 842ms;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.button-get-results{
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.input-form {
    display: flex;
}
  
  
/* General Styling*/
h2, h3 {
    text-decoration: underline;
}
h2 {
    font-size: 28px;
}
h2.logo {
    text-decoration: none;
}
h3 {
    font-size: 24px;
}
p {
    color: #e3e3e3;
}

.button-get-started:hover {

transition : 500ms;
padding: 10px 30px;

background-color: #e8e8e8;
color: #ff2834;
border: solid 2px #e8e8e8;
}

/*footer styling */
div.footer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer { 
    border-top: 2px outset #111;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
a.social-links:hover, .p-footer a:hover {
    color: #FF2834;
    text-decoration: underline;
}
.p-footer a {
    color: #e3e3e3;
    font-size: medium;
}
.button-container {
    display: flex;
    justify-content: center;
}
/* content box styling */
.content-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.content {
    display: grid;
    padding-top: 40px;
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: auto;
    justify-content: center;
}